---
title: OverOps Reliability Platform (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The OverOps Reliability Platfrom for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the OverOps Reliability Platfrom for Pivotal Cloud Foundry (PCF). 

## <a id='overview'></a>Overview

Creating an of the OverOps Tile creates an instance of an OverOps collector in its own org and space. This allows developers to deploy their application with an agent and have an easy set up for the Collector. 

## <a id='features'></a>Key Features

OverOps Reliability Platform includes the following key features:

OverOps Collector 

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about OverOps Reliability Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 11, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>4.38.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>4.38.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>4.+</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 315</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

OverOps Reliability Platfrom has the following requirements:

+ Java Buildpack
+ Environment with TCP enabled
+ OverOps account

## <a id="limitations"></a>Limitations

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to support@overops.com

## <a id='license'></a>License

**List any license information here.**
