---
title: OverOps Reliability Platform (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The OverOps Reliability Platfrom for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the OverOps Reliability Platfrom(ORP) for Pivotal Cloud Foundry (PCF). 

## <a id='overview'></a>Overview
OverOps is a root-cause identification and analysis application for applications in staging and production phases. It automatically detects the main causes of errors without depending on logging.

The solution can also be seamlessly integrated into a team’s workflow. This is enabled by the multiple integration methods provided by OverOps, for teams to be able to continue utilizing existing tools and services, such as communication channels.

Because of that, OverOps is able to instantly alert the right developer in code breaking instances instead of everyone or the wrong person on the team being deployed. This is automatically performed, so reparative tasks are completed in a short span of time. The same thing is also done whenever a known error resurfaces.


## <a id='features'></a>Key Features

OverOps Reliability Platform includes the following key features:
    OverOps Collector 4.38.0


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about OverOps Reliability Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 11, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>4.38.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>4.38.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>4.+</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 315</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

OverOps Reliability Platfrom has the following requirements:

+ Java Buildpack
+ Environment with TCP enabled
+ OverOps account
    
## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
Send an email to [OverOps Support and Feedback](mailto:support@overops.com)

## <a id='license'></a>License

To use the OverOps Reliability Platform you must have an installation key. 

Please refer to the Official OverOps licensing agreement for any questions. 
[OverOps Terms of Service](https://www.overops.com/terms)
