---
title: Installing and Configuring OverOps Reliability Platform
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure OverOps Reliability Platform.

##<a id='install'></a> Install and Configure OverOps Reliability Platform

To install the OverOps Reliability Platform file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of OverOps file 
This adds the tile to your staging area.

1. Click the newly added OverOps Reliability Platform tile.

1. Please add your Backend URL
1. Enter your OverOps installation key
1. Finally enter the OverOps server name (default is `hostname`)
1. Also please enter the required fields for Assign AZ's and Network
1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install OverOps Reliability Platform tile.

