---
title: Release Notes for OverOps Reliability Platform
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for OverOps Reliability Platform.

##<a id="ver"></a> v0.9.4

**Release Date:** July 11th 2019 (Ex. October 1, 2017)

Features included in this release:
	* OverOps Collector 4.38.0 
	

