---
title: Release Notes for OverOps Reliability Platform for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for OverOps Reliability Platform.

##<a id="v0.9.4"></a> v0.9.4

**Release Date:** July 17, 2019

Features included in this release:

  * Initial release
  * OverOps Collector 4.38.0
