---
title: Using OverOps Reliability Platform for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use **OverOps Reliability Platform for PCF**.

##<a id='prereqs'></a> Prerequisites

1. You must use `java-buildpack` for your application.

1. You must enable TCP routing. See [HTTP vs. TCP Domains
](https://docs.cloudfoundry.org/devguide/deploy-apps/routes-domains.html#http-vs-tcp-shared-domains) and [Enabling TCP Routing](https://docs.cloudfoundry.org/adminguide/enabling-tcp-routing.html).

1. You must have use the `apps.internal` domain in your environment to use direct [Container to Container communication](https://docs.pivotal.io/pivotalcf/2-6/devguide/deploy-apps/cf-networking.html)

##<a id='using'></a> Using OverOps Reliability Platform for PCF

Once the tile is installed and configured, the top left corner of the OverOps dashboard will show **OverOps is Active**. Clicking this will open a pop up of all the Collectors and Agents currently running.

<%= image_tag("screenshots/connected_app_to_collector.png") %>

1. For an introduction to the dashboard refer to [OverOps Classic Dashboard](https://doc.overops.com/docs/quick-intro-to-the-overops-dashboard).

1. For a brief introduction on Automated Root Cause page refer to [ARC](https://doc.overops.com/docs/quick-intro-to-automated-root-cause).

1. For an Overview of the Reliability Dashboards please refer to [Dashboard Documentation](https://doc.overops.com/docs/reliability-dashboards-overview).
